---
import Layout from "../layouts/Layout.astro"
---
<Layout>
<div id="main">
  <div class="hero">  
    <div class="img"></div>
    <h1 class="heading gradient">EcoVex</h1>
  </div>
  </div>
</Layout>

<style>
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  #main {
    background-color: #070d0b; 
    background-image: 
    linear-gradient(rgba(0, 150, 136, 0.1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0, 150, 136, 0.1) 1px, transparent 1px);
    background-size: 50px 50px;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .hero{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .gradient{
    background: linear-gradient(135deg, #8bc34a, #009688);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heading{
    color: white;
    font-size: 96px;
    font-family:"Anta", sans-serif;;
    margin-top: 70px;
  }
  .img{
    height: 60vh;
    width: 60vw;
    background-image: url(/logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.7;
    margin-top: 50px;
  }
  @media(max-width: 910px)
  {
    .img{
      height: 60vh;
      width: 70vw;
    }
    .heading{
    margin-top: 50px;
  }
  }
   @media(max-width: 650px)
  {
    .img{
      height: 60vh;
      width: 90vw;
    }
    .heading{
      margin-top: 20px;
    }
  }
  @media(max-width: 510px)
  {
    .img{
      height: 60vh;
      width: 90vw;
    }
    .heading    {
      margin-top: 10px;
    }
  }
  @media(max-width: 410px)
  {
    .img{
      height: 55vh;
      width: 90vw;
    }
    .heading
    {
      font-size: 88px;
      margin-top: 10px;
    }
  }
</style>
