---
import Layout from "../layouts/Layout.astro"
---
<Layout>
<div id="main">
  <h1 id="head">Our <span class="gradient">Projects</span></h1>
  <p id="para">Innovating at the intersection of bits and botany.</p>
  <div id="project">
    <a href="/EcoVex_Sjec/store/Projecttree">
    <div class="container">
      <div id="img"></div>
      <h3>(; Project Clover</h3>
      <p class="para1">
        Project Clover is our flagship initiative, focused on developing a
        cutting-edge electric vehicle that combines sustainability with high
        performance.
      </p>
      <div id="contributors">
        <h4>Contributors:</h4>
        <p class="name">Roy, Melroy</p>
        <span class="tech-stack">React js</span>
        <span class="tech-stack">Node js</span>
        <span class="tech-stack">MongoDB</span>
      </div>
    </div>
    </a>
    <a href="/EcoVex_Sjec/store/Projecttree">
    <div class="container">
      <div id="img"></div>
      <h3>(; Project Clover</h3>
      <p class="para1">
        Project Clover is our flagship initiative, focused on developing a
        cutting-edge electric vehicle that combines sustainability with high
        performance.
      </p>
      <div id="contributors">
        <h4>Contributors:</h4>
        <p class="name">Roy, Melroy</p>
        <span class="tech-stack">React js</span>
        <span class="tech-stack">Node js</span>
        <span class="tech-stack">MongoDB</span>
      </div>
    </div>
    </a>
    <a href="#">
    <div class="container">
      <div id="img"></div>
      <h3>(; Project Clover</h3>
      <p class="para1">
        Project Clover is our flagship initiative, focused on developing a
        cutting-edge electric vehicle that combines sustainability with high
        performance.
      </p>
      <div id="contributors">
        <h4>Contributors:</h4>
        <p class="name">Roy, Melroy</p>
        <span class="tech-stack">React js</span>
        <span class="tech-stack">Node js</span>
        <span class="tech-stack">MongoDB</span>
      </div>
    </div>
    </a>
    <a href="#">
    <div class="container">
      <div id="img"></div>
      <h3>(; Project Clover</h3>
      <p class="para1">
        Project Clover is our flagship initiative, focused on developing a
        cutting-edge electric vehicle that combines sustainability with high
        performance.
      </p>
      <div id="contributors">
        <h4>Contributors:</h4>
        <p class="name">Roy, Melroy</p>
        <span class="tech-stack">React js</span>
        <span class="tech-stack">Node js</span>
        <span class="tech-stack">MongoDB</span>
      </div>
    </div>
    </a>
    <a href="#">
    <div class="container">
      <div id="img"></div>
      <h3>(; Project Clover</h3>
      <p class="para1">
        Project Clover is our flagship initiative, focused on developing a
        cutting-edge electric vehicle that combines sustainability with high
        performance.
      </p>
      <div id="contributors">
        <h4>Contributors:</h4>
        <p class="name">Roy, Melroy</p>
        <span class="tech-stack">React js</span>
        <span class="tech-stack">Node js</span>
        <span class="tech-stack">MongoDB</span>
      </div>
    </div>
    </a>
    <a href="#">
    <div class="container">
      <div id="img"></div>
      <h3>(; Project Clover</h3>
      <p class="para1">
        Project Clover is our flagship initiative, focused on developing a
        cutting-edge electric vehicle that combines sustainability with high
        performance.
      </p>
      <div id="contributors">
        <h4>Contributors:</h4>
        <p class="name">Roy, Melroy</p>
        <span class="tech-stack">React js</span>
        <span class="tech-stack">Node js</span>
        <span class="tech-stack">MongoDB</span>
      </div>
    </div>
    </a>
  </div>
</div>
</Layout>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #main {
    min-height: 170vh;
    height: auto;
    background-color: #0a0f0a;
  }
  .container {
    background-color: #0096880D;
    border: 1px solid rgba(0, 150, 136, 0.2);
    text-align: center;
    border-radius: 20px;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    justify-items: start;
  }
  #project {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-left: 130px;
    margin-right: 130px;
  }
  #img {
    background-color: #ffffff1a;
    border-radius: 20px;
    margin-bottom: 25px;
    width: 97%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/logo.png");
    background-size: 250px;
    background-position: center;
    background-repeat: no-repeat;
  }
  .container h3 {
    color: #e0f2f1;
    font-size: 22px;
    margin-bottom: 15px;
  }
  .para1 {
    color: #a0ac9f;
    font-size: 13px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  #contributors .name {
    color: #a0ac9f;
    font-size: 16px;
    padding-bottom: 20px;
    margin-left: 10px;
  }
  .container:hover{
    translate: 0 -5px;
    box-shadow: rgba(52, 211, 153, 0.3) 0px 10px 20px -10px;
    #img{
         background-size: 265px;
    }
}
  #contributors {
    border-top: 1px solid #ffffff1a;
    width: 100%;
    justify-items: start;
  }
  #contributors h4 {
    color: #a0ac9f;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;
  }
  #contributors p {
    color: #e0f2f1;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    padding-left: 20px;
  }
  .tech-stack {
    display: inline-block;
    background-color: #101c18;
    color:#34e9bd;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    border: 1px solid #4db6ac;
  }
  #head {
    font-size: 48px;
    color: #e0f2f1;
    text-align: center;
    padding-top: 130px;
  }
  .gradient {
    background: linear-gradient(135deg, #4a7c44 0%, #34e9bd 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  #para {
    color: #a0ac9f;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 100px;
    padding-left: 30px;
    padding-right: 30px;
  }
  a{
    text-decoration: none;
  }
</style>
